<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navbar') %>
    
    <div class="min-vh-100 d-flex flex-column justify-content-between">
        <main class="flex-grow-1">
            <%- body %>
        </main>
        <%- include('partials/footer') %>
    </div>

    <%- include('partials/scripts') %>
</body>
</html>